{% extends 'base/layout.html' %}
{% load django_bootstrap5 %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Login</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    
                    <div class="d-grid gap-2">
                        {% bootstrap_button "Login" button_type="submit" button_class="btn-primary" %}
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <p class="mb-0">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
                <p class="mb-0"><a href="{% url 'social:begin' 'google-oauth2' %}" class="nav-link active">Login with Google</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}